<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Scriptofan Technologies</title>

    <!--<meta charset="utf-8"/>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>-->

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
          <!--integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{styles.css}" href="../public/styles.css"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet"/>

</head>
<body>


    <div class="container">
        <div class="row">

            <div class="col-md-auto mt-5">
                <h1>Scriptofan Technologies</h1>
            </div>
            <div class="col-lg-8"> </div>

        </div>

        <div class="row">

            <div class="col-lg-4 mt-4">
                <form method="POST" enctype="multipart/form-data" action="/">
                    <table>
                        <tr>
                            <td><h2>Upload a CSV File:</h2>
                            </td>
                        </tr>

                        <tr>
                            <td><input type="file" onchange="this.form.submit()" name="file"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>


    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>



</body>
</html>