<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Scriptofan Technologies | Error</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/styles.css"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet"/>


</head>
<body>

<div class="container">
    <div class="row">

        <div class="col-md-auto mt-4">
            <h1>Whoops!</h1>
            <h2>Something went wrong.</h2>
        </div>
        <div class="col-lg-8"></div>

        <!--<ul>DONT DELETE-->

        <!--<li th:each="item : ${items}" th:text="${item.getAllFields().productTitle}"></li>-->
        <!--</ul>-->
    </div>

    <div class="row mt-4">
        <div class="col-lg-8">
            <p th:text="${exception.getMessage()}">Error</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-8">
            <a href="./">Home</a>
        </div>
    </div>
</div>
<!-- /.container -->

<script type="text/javascript"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
