<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link href="../static/css/styles.css" rel="stylesheet" type="text/css" th:href="@{../static/css/styles.css}"/>

    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet"/>


</head>
<body>

    <div class="container">
        <div class="row">

            <div class="col-md-auto mt-4">
                <h1>Upload Results</h1>
            </div>

            <div class="col-lg-8"></div>

            <!--<ul>DONT DELETE-->

                <!--<li th:each="item : ${items}" th:text="${item.getAllFields().productTitle}"></li>-->
            <!--</ul>-->
        </div>

        <div class="row mt-4">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Item #</th>
                    <th scope="col">Name</th>
                    <th scope="col">Platform</th>
                    <th scope="col">Result</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Iphone</td>
                    <td>Ebay</td>
                    <td>Uploaded</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Macbook Pro</td>
                    <td>Ebay</td>
                    <td>Uploaded</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Ipad Pro</td>
                    <td>Ebay</td>
                    <td>Uploaded</td>
                </tr>
                </tbody>
            </table>



        </div>
    </div>
<!-- /.container -->

<script type="text/javascript"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
