<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/styles.css"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet"/>


</head>
<body>

    <div class="container">
        <div class="row">

            <div class="col-md-auto mt-4">
                <h1>Upload Results</h1>
            </div>

            <div class="col-lg-8"></div>

            <!--<ul>DONT DELETE-->

                <!--<li th:each="item : ${items}" th:text="${item.getAllFields().productTitle}"></li>-->
            <!--</ul>-->
        </div>

        <div class="row mt-4">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col" th:each="offer : ${items[0].getLocalOffers()}" th:text="${offer}">Offer</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td>
                        <p th:text="${item.getAllFields().title}">item name</p>
                        <p th:text="${item.getState()}"></p>
                        <ul>
                            <li th:each="log : ${item.getFullLog()}" th:text="${log}">log entry</li>
                        </ul>
                    </td>
                    <td th:each="offer : ${items[0].getLocalOffers()}">
                        <p th:text="${offer.getState()}"></p>
                        <ul>
                            <li th:each="log : ${offer.getFullLog()}" th:text="${log}">log entry</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>



        </div>
    </div>
<!-- /.container -->

<script type="text/javascript"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
